
# PlanAhead Generated physical constraints 

NET "Enable" LOC = AF25;
NET "reset" LOC = AF26;
NET "clk" LOC = AG18;
NET "Ac[0]" LOC = AF13;
NET "Ac[1]" LOC = AG23;
NET "Ac[2]" LOC = AG12;
NET "Ac[3]" LOC = AF23;
NET "Ac[4]" LOC = E8;
NET "Ac[5]" LOC = H18;
NET "Ac[6]" LOC = L18;
NET "Ac[7]" LOC = G15;
NET "Ac[8]" LOC = AD26;
NET "Ac[9]" LOC = G16;
NET "Ac[10]" LOC = AD25;
NET "Ac[11]" LOC = AD24;
NET "Ac[12]" LOC = AE24;